@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: var(--font-body);
}

.heading-font {
  font-family: var(--font-heading);
}

.invitation-text {
  font-family: var(--font-heading);
  font-size: 1.3rem;
  line-height: 1.8;
  color: #666;
}

@keyframes fall {
  0% {
    transform: translateY(-10vh) translateX(0px) rotate(0deg);
    opacity: 0;
  }

  10% {
    opacity: 0.9;
  }

  25% {
    transform: translateY(25vh) translateX(25px) rotate(90deg);
  }

  50% {
    transform: translateY(50vh) translateX(-25px) rotate(180deg);
  }

  75% {
    transform: translateY(75vh) translateX(20px) rotate(270deg);
  }

  100% {
    transform: translateY(120vh) translateX(-20px) rotate(360deg);
    opacity: 0;
  }
}

